[Desktop Entry]
Encoding=UTF-8
Name=Abuse
Comment=A multi-directional shoot-em-up
Exec=/usr/bin/run-abuse
Icon=/usr/share/games/abuse/abuse.png
Terminal=false
Type=Application
Categories=Application;Game;
