[Desktop Entry]
Encoding=UTF-8
Name=Atomorun
Comment=Run and jump away from a nuclear blast
Exec=/usr/bin/atomorun -f 0
Icon=/usr/share/atomorun/pixmaps/atomorun_icon.png
Terminal=false
Type=Application
Categories=Application;Game;
