# this is a bare bones sample .fvwm2rc/system.fvwm2rc file for fvwm.
# It should be customized before install.  See other sample .fvwm2rc files
# for hints, as well as pointers from the various links on the official
# fvwm web page (see the FAQ).

EdgeResistance 250 10
EdgeScroll 100 100
ClickTime 750

DeskTopSize 1x1
Menustyle * fvwm, Font -adobe-times-bold-r-*-*-14-*-*-*-*-*-*-*
MenuStyle * Foreground SteelBlue, Background grey60, Greyed grey40

ColormapFocus FollowsMouse

# default Styles:
# make sure these fonts exist on your system:
Style *           Font -adobe-times-bold-r-*-*-18-*-*-*-*-*-*-*
Style *           IconFont -adobe-times-bold-r-*-*-18-*-*-*-*-*-*-*
Style *           HilightFore black, HilightBack SteelBlue 
Style *           BorderWidth 7, HandleWidth 7
Style *           Icon unknown1.xpm, Color lightgrey/dimgrey
Style *           MWMFunctions, MWMDecor, HintOverride
Style *           DecorateTransient, NoPPosition
Style *           IconBox 0 -10 -280 -1
Style *           FocusFollowsMouse
Style *           TileCascadePlacement

# Styles for various Fvwm modules:
Style "Fvwm*"       NoTitle,  Sticky, WindowListSkip
Style "Fvwm*"       BorderWidth 2, CirculateSkipIcon, CirculateSkip
Style "FvwmPager"   StaysOnTop
Style "FvwmBanner"  StaysOnTop
Style "FvwmButtons" Icon toolbox.xpm, ClickToFocus

# Styles for your common terminal emulator programs:
Style "XTerm"       Icon xterm.xpm, SloppyFocus, IconBox -70 1 -1 -140

# some simple default key bindings:
Key Next         A       SCM     Next (AcceptsFocus) Focus
Key Prior        A       SCM     Prev (AcceptsFocus) Focus

# some simple default mouse bindings:
#   for the root window:
Mouse 1	R   	A       Menu RootMenu Nop
Mouse 2	R    	A      	Menu Window-Ops Nop
Mouse 3	R    	A      	WindowList

#   for the title bar buttons:
Mouse 0	1    	A      	Menu Window-Ops2 Close
Mouse 0	2    	A     	Maximize-Func
Mouse 0	4    	A     	Iconify

#   for other parts of the window/borders/icons:
Mouse 1	F	A	Resize-or-Raise
Mouse 1	TS	A	Move-or-Raise
Mouse 1	I	A	Move-or-Iconify
Mouse 2	I	A	Iconify
Mouse 2	FST	A	Menu Window-Ops2 Nop
Mouse 3	TSIF	A	RaiseLower

######################## Initialization Functions ############################

# rPath Blue
AddToFunc InitFunction
 + I exec xsetroot -solid \#0C2577

######################## Menus ###################
AddToMenu RootMenu	"Root Menu"	Title
+			"XTerm"		Exec exec xterm
+			"Firefox"	Exec exec firefox 
+			""		Nop
+			"Fvwm Modules"	          Popup Module-Popup
+                       "Fvwm Window Ops"         Popup Window-Ops
+                       "Fvwm Simple Config Ops"  Popup Misc-Ops
+			""		Nop
+                       "Refresh Screen"   Refresh
+                       "Recapture Screen" Recapture
+			""		Nop
+			"Exit Fvwm"	Popup Quit-Verify

AddToMenu Misc-Ops "Misc Config Opts" Title
+                  "Sloppy Focus"        ChangeDefaultFocus SloppyFocus
+                  "Click To Focus"      ChangeDefaultFocus ClickToFocus
+                  "Focus Follows Mouse" ChangeDefaultFocus FocusFollowsMouse
+                  "" Nop
+                  "Colormap Follows Mouse" ColormapFocus FollowsMouse
+                  "Colormap Follows Focus" ColormapFocus FollowsFocus
+                  "" Nop
+                  "Full Paging ON"         EdgeScroll 100 100
+                  "All Paging OFF"         EdgeScroll 0 0
+                  "Horizontal Paging Only" EdgeScroll 100 0
+                  "Vertical Paging Only"   EdgeScroll 0 100
+                  "Partial Paging"         EdgeScroll 50 50
+                  "Full Paging && Edge Wrap" EdgeScroll 100000 100000

AddToMenu Window-Ops	"Window Ops"	Title
+			"Move"		Move
+			"Resize"	Resize
+			"Raise"		Raise
+			"Lower"		Lower
+		 	"(De)Iconify"	Iconify
+			"(Un)Stick"	Stick
+			"(Un)Maximize"	Maximize
+			""		Nop
+			"Delete"	Delete
+			"Close"		Close
+			"Destroy"	Destroy
+			""		Nop
+			"Refresh Window" RefreshWindow

AddToMenu Window-Ops2	"&Move"		Move
+			"&Resize"	Resize
+			"R&aise"	Raise
+			"&Lower"	Lower
+			"(De)&Iconify"	Iconify
+			"(Un)&Stick"	Stick
+                       "(Un)Ma&ximize" Maximize
+			""		Nop
+			"&Delete"	Delete
+			"&Close"	Close
+			"Destroy"	Destroy
+			""		Nop
+			"ScrollBar" 	Module FvwmScroll 2 2


AddToMenu Quit-Verify 	"Really Quit Fvwm?" Title
+		      	"Yes, Really Quit"  Quit
+                       "Restart Fvwm"      Restart
+		      	""		    Nop
+		      	"No, Don't Quit"    Nop

######################## Sample Functions ##########################

AddToFunc Move-or-Raise		I Raise
+				M Move
+  				D Lower

AddToFunc Move-or-Raise2	M Raise
+				M Move
+  				D Lower

AddToFunc Maximize-Func		M Maximize	 0 100
+				C Maximize	 0 80
+				D Maximize	 100 100

AddToFunc Move-or-Iconify	I Raise
+				M Move
+				D Iconify

AddToFunc Resize-or-Raise	I Raise
+				M Resize
+				D Lower

AddToFunc Resize-or-Raise2	M Raise
+				M Resize
+				D Lower

AddToFunc Iconify-and-Raise     I Iconify
+                               I Raise
