[Desktop Entry]
Name=Dopewars
Name[de]=Drogenkrieg
Name[pl]=Wojny narkotykowe
Comment=Dopewars: A drug dealing game
Comment[pl]=Gra polegajÄca na handlowaniu narkotykami
Exec=dopewars -f /$HOME/.dopewars.sco
Icon=dopewars-weed.png
Terminal=false
Type=Application
Categories=Application;Game;

