[Desktop Entry]
Encoding=UTF-8
Name=Tabbed Xterm
Comment=Lightweight Multi-tabbed X terminal
Exec=mrxvt
Icon=mrxvt.png
Type=Application
Categories=GNOME;Application;System;Utility;TerminalEmulator;
StartupNotify=true
