[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Seamonkey
GenericName=All-in Internet application suite
Comment=Web-browser, advanced e-mail, newsgroup and feed client, IRC chat, and HTML editing
Exec=seamonkey
Icon=seamonkey.png
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;Network;
