[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Cuyo
Comment=A Tetris-style puzzle game
Comment[de]=Ein Puzzle-Spiel im Tetris-Stil 
Exec=cuyo
Type=Application
Categories=Game;BlocksGame;
