[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Grisbi
Comment=Personal finances manager
Exec=grisbi
Icon=/usr/share/pixmaps/grisbi/grisbi.png
Terminal=false
Type=Application
Name[en_US]=Grisbi
Categories=GNOME;Application;Office;
