[Desktop Entry]
Name=pdfedit
GenericName=PDF Editor
Comment=Edit .pdf files
Exec=pdfedit
Icon=pdfedit
Terminal=false
Type=Application
Categories=Office;
