[Desktop Entry]
Type=Application
Name=Quassel IRC GUI
GenericName=IRC Client GUI
Comment=Distributed IRC client with central core component
Icon=quassel
TryExec=quasselclient
Exec=quasselclient
Categories=Network;Chat;IRCClient;
