[Desktop Entry]
Type=Application
Name=Quassel IRC ( GUI+Core )
GenericName=IRC Client ( GUI+Core )
Comment=Distributed IRC client with central core component
Icon=quassel
TryExec=quassel
Exec=quassel
Categories=Network;Chat;IRCClient;
