[Desktop Entry]
Encoding=UTF-8
Name=Theme Downloader
Comment=GNOME Theme Downloader
Icon=gnome-art.png
Exec=gnome-art
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Settings;Appearance;
