[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=balsa
Type=Application
Terminal=false
Icon[en_US]=/usr/share/balsa/pixmaps/balsa-logo.png
Name[en_US]=balsa
Exec=balsa
Comment[en_US]=Lightweight Mail Client for Gnome
Comment=Lightweight Mail Client for Gnome
Icon=/usr/share/balsa/pixmaps/balsa_icon.png
