changesetCacheDir %(proxydir)s/cscache
proxyContentsDir %(proxydir)s/contents
tmpDir %(proxydir)s/tmp                                                                                                                                                       

memcache localhost:11211
memcachetimeout 3628800
memcacheuserauth false
