[Desktop Entry]
Encoding=UTF-8
Name=Lincity
Comment=A city/country simulation game
Exec=xlincity
Icon=/usr/share/pixmaps/lincity.png
Terminal=false
Type=Application
Categories=Application;Game;
