[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Foresight Font Pack Licensing Information
Comment=View the Terms & Conditions of the Various Fonts Included With Foresight
Exec=gedit /usr/share/fonts/TTF/font-licensing
Icon=/usr/share/pixmaps/gnome-word.png
Terminal=false
Type=Application
Categories=Application;Foresight;
Name[en_GB]=Font Licensing
