[Desktop Entry]
Name=FrostWire
GenericName=P2P Gnutella/Bittorrent client
Comment=Search and share all kinds of files on the Gnutella network
Exec=/opt/frostwire/frostwire-4.17.0.noarch/runFrostwire.sh
Icon=frostwire.png
Terminal=false
Type=Application
Categories=Application;Network;

