[Desktop Entry]
Name=Thunderbird Email
Comment=Lightweight Mozilla-based mail client
Exec=thunderbird
Icon=thunderbird.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Email;Network;
Encoding=UTF-8
