[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Get Live Help
Comment=Chat with Foresight developers and users
Exec=/usr/bin/xchat-gnome --url=irc://irc.freenode.net:6667/#foresight
Icon=/usr/share/pixmaps/foresight-chat.png
Terminal=false
Type=Application
Categories=Application;Foresight;
Name[en_GB]=Get Live Help
