[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Downloader for X
GenericName=Download Assistant
Comment=Download files from the internet more efficently
Exec=d4x
Icon=/usr/share/d4x/themes/gnomeria/toolbar/queue.png
Terminal=false
Type=Application
Categories=Application;Network;
