[Desktop Entry]
Encoding=UTF-8
Name=Glade Sharp Code Generator
Comment=Creates skeleton Mono code from Glade layouts
Exec=GladeSharpCodeGenerator
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/firerabbit.jpg
Categories=Application;Development;
