[Desktop Entry]
Name=Open Mortal
Comment=Open Mortal is a parody of the once popular coin-up fighting game, Mortal Kombat. 
Exec=openmortal
Icon=/usr/share/openmortal/gfx/icon.png
Terminal=false
Type=Application
Categories=Application;Game;

