[Desktop Entry]
Encoding=UTF-8
Name=PlanetPenguin Racer
Comment=Slide Tux down a snow and ice-covered mountain as quickly as possible
Exec=/usr/bin/ppracer
Terminal=false
Type=Application
Categories=Application;Games;iCandy
