[Desktop Entry]
Encoding=UTF-8
Name=rRootage
Comment=A frantic shoot-em-up
Exec=/usr/bin/rr -accframe -nowait
Icon=/usr/share/games/rRootage/rRootage.png
Terminal=false
Type=Application
Categories=Application;Game;
