[Desktop Entry]
Name=Abgx360
Comment=It is basically a graphical user interface
Exec=abgx360gui
Icon=/usr/share/pixmaps/abgx360-256.png
Terminal=false
Type=Application
Categories=Application;Game;
