[Desktop Entry]
Name=BlogBridge
Comment=Robust RSS Reader
Exec=/opt/blogbridge/blogbridge-6.7/blogbridge.sh
Icon=/opt/blogbridge/blogbridge-6.7/blogbridge.gif
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;
