[Desktop Entry]
Name=F-Spot Personal Photo Management
GenericName=F-Spot
Comment=View, Edit and organize your images
Categories=Application;Graphics;Viewer;
Encoding=UTF-8
Exec=f-spot
Icon=f-spot.png
MimeType=image/bmp;image/jpeg;image/gif;image/png;image/tiff;image/x-bmp;image/x-ico;image/x-png;image/x-tga;image/xpm;
StartupNotify=true
Terminal=false
Type=Application
