[Desktop Entry]
Name=Opera Web Browser
GenericName=Opera Web Browser
Comment=Browse the web
Exec=opera %U
StartupNotify=true
Terminal=false
Type=Application
Icon=opera
MimeType=text/html;text/xml;application/xhtml+xml;
Categories=Network;
