[Desktop Entry]
Encoding=UTF-8
Name=Eclipse
Comment=Versatile IDE
Exec=/usr/bin/eclipse
Terminal=false
Icon=%(eclipsedir)s/icon.xpm
Type=Application
Categories=Development;GNOME;IDE;
