[Desktop Entry]
Encoding=UTF-8
Name=Eclipse SDK
Comment=Versatile IDE
Exec=/usr/bin/eclipse
Terminal=false
Icon=%(eclipsedir)s/eclipse.png
Type=Application
Categories=Development;IDE;
