[Desktop Entry]
Name=Conary GUI
GenericName=Update system
Comment=Update system
Exec=gksudo /usr/bin/conary-gui
Terminal=false
Type=Application
Icon=specifix.png
Encoding=UTF-8
X-Desktop-File-Install-Version=0.6
Categories=Application;System;Settings
