[Desktop Entry]
Encoding=UTF-8
Name=Neverball
Comment=Tilt the floor to roll a ball through an obstacle course before time runs out
Exec=/usr/bin/run-neverball
Icon=/usr/share/pixmaps/neverball.png
Terminal=false
Type=Application
Categories=Application;Game;
