[Desktop Entry]
Encoding=UTF-8
Name=Neverball
Comment=Tilt the floor to roll a ball through an obstacle course before time runs out
Exec=/usr/bin/neverball
Icon=/usr/share/pixmaps/neverball.png
Terminal=0
Type=Application
Categories=Application;Game;
