[Desktop Entry]
Encoding=UTF-8
Name=Neverputt
Comment=A hot-seat miniature golf game using the physics of Neverball
Exec=/usr/bin/neverputt
Icon=/usr/share/pixmaps/neverputt.png
Terminal=0
Type=Application
Categories=Application;Game;
