[Desktop Entry]
Encoding=UTF-8
Name=Transfusion
Comment=Bloody First Person Shooter
Exec=transfusion
Icon=transfusion.png
StartupNotify=false
Terminal=false
Type=Application
Categories=GNOME;Application;Game;ActionGame
