[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Install Epiphany
Comment=Install the Epiphany web browser
Exec=gksudo /usr/bin/install-epiphany.sh
Icon=/usr/share/pixmaps/install-epiphany.png
Terminal=false
Type=Application
Categories=Application;Foresight;
Name[en_GB]=Install Epiphany
GenericName[en_GB]=
