[Desktop Entry]
Encoding=UTF-8
Name=Best
Comment=Bleeding Edge Search Tool
Exec=best
Icon=best.png
StartupNotify=false
Terminal=false
Type=Application
Categories=Application;Utility;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=beagle
X-GNOME-Bugzilla-Component=General
