[Desktop Entry]
Name=Mozilla Firefox Browser
Comment=lightweight browser based on mozilla
Exec=firefox
Icon=firefox.png
Terminal=0
Type=Application
Encoding=UTF-8
Categories=Application;Network;X-Red-Hat-Base;X-Red-Hat-Base-Only;GNOME
