[Desktop Entry]
Encoding=UTF-8
Name=SuperTux
Comment= SuperTux is a classic 2D jump'n run sidescroller game in a style similar to the original SuperMario games.
Exec=/usr/bin/supertux
Icon=/usr/share/supertux/images/icons/test-level.png
Terminal=false
Type=Application
Categories=Application;Game;
