[Desktop Entry]
Name=Spotify
GenericName=Spotify
Exec=spotify
Icon=spotify.png
Terminal=false
Type=Application
Categories=Application;Audio;AudioVideo;
