[Desktop Entry]
Encoding=UTF-8
Name=DeSmuME
Comment=DeSmuME is a Nintendo DS emulator
Exec=desmume
Icon=DeSmuME.xpm
Terminal=false
Type=Application
Categories=Game;
