[Desktop Entry]
Version=1.0
Name=Chromium Web Browser
Comment=Browse the World Wide Web
GenericName=Web Browser
Exec=chromium-browser --enable-plugins
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=chromium-browser
Categories=Network;
Encoding=UTF-8
MimeType=text/html;
StartupWMClass=Chromium
StartupNotify=true

