[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Cowbell Music Organizer
Comment=Cowbell music organizer intended to make keeping your collection tidy both fun and easy.
Exec=cowbell
Icon=cowbell.png
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;Application;AudioVideo;
