[Desktop Entry]
Encoding=UTF-8
Name=Pinball
Comment=A pinball simulation
Exec=/usr/bin/pinball
Icon=/usr/share/pinball/pinball.xpm
Terminal=false
Type=Application
Categories=Application;Game;
