[Desktop Entry]
Encoding=UTF-8
Name=ScummVM
Comment=Virtual Machine for LucasArts adventure games
Exec=scummvm
Icon=scummvm.svg
Terminal=false
Type=Application
Categories=Game;
