[Desktop Entry]
Version=1.0
Name=TeamViewer
Comment=TeamViewer Remote Control Application
Exec=/opt/teamviewer/teamviewer/7/bin/teamviewer
Icon=/opt/teamviewer/teamviewer/7/desktop/teamviewer.png
Type=Application
Categories=Network;WebDevelopment;

