[Desktop Entry]
X-SuSE-translate=true
Encoding=UTF-8
Name=Holmes
GenericName=Desktop Search
Exec=holmes
Icon=best
Type=Application
Categories=GTK;GNOME;Application;Core;Utility;Filesystem;
