[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Tower Toppler
Comment=Run and jump as you attempt to climb a tower through 180 degree rotations
Exec=/usr/bin/toppler
Icon=/usr/share/toppler/toppler.xpm
Terminal=false
Type=Application
Categories=Application;Game;

