[Desktop Entry]
Encoding=UTF-8
Name=Critical Mass
Comment=A space shoot-em-up game
Exec=critter
Icon=/usr/share/pixmaps/critmass.png
Terminal=false
Type=Application
Categories=Application;Game;
