[Desktop Entry]
Encoding=UTF-8
Name=Foresight System Manager
GenericName=Foresight System Manager
Comment=Updates and Maintenance
Exec=gnome-open https://localhost:8003/rAA/
Icon=system-software-update
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;System;Settings;
