[Desktop Entry]
Encoding=UTF-8
Name=Foresight System Manager
GenericName=Updates and Maintenance
Comment=Updates and Maintenance
Exec=gnome-open http://localhost:8004/rAA/
Icon=system-software-update
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;System;Settings;
