[Desktop Entry]
Encoding=UTF-8
Name=rPath Appliance Agent
GenericName=rPath Appliance Agent
Comment=Updates and Maintenance
Exec=gnome-open https://localhost:8003/rAA/
Icon=system-software-update
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;Application;System;Settings;
