[Desktop Entry]
Encoding=UTF-8
Name=Login Photo Setup
GenericName=Login Photo Setup
Comment=Configure the login photo (Gnome Display Manager)
Exec=gdmphotosetup
Icon=login-photo
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Settings;

