[Desktop Entry]
Encoding=UTF-8
Name=Login Manager Setup
Name[en_GB]=Login Manager Setup
Name[fr]=Gestionnaire de Connection
GenericName=Login Manager Setup
Comment=Configure the login manager (Gnome Display Manager)
Comment[en_GB]=Configure the login manager (Gnome Display Manager)
Comment[fr]=Configurer le gestionnaire de connection (gestionnaire d'affichage Gnome)
Exec=gksudo gdmsetup
Icon=login-photo
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Settings;
