[Desktop Entry]
Encoding=UTF-8
Name=Secret Maryo Chronicles
Comment=A Super Mario Bros clone
Exec=/usr/bin/run-smc
Icon=/usr/share/smc/smc.png
Terminal=false
Type=Application
Categories=Application;Game;
